/* Estilos base */
html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 16px; /* Establece el tamaño base para rem */
}

body {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding-top: 6.5625rem;
}

main {
    flex: 1;
}

/* Logo redondeado */
.navbar-brand img {
    max-width: 5rem;
    height: auto;
    object-fit: contain;
    border: #75ac00 solid;
}

/* Botones */
.btn {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    border: solid #008000;
}

.btn:hover {
    background-color: #75ac00;
    transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Navegación */
.nav-link:hover {
    color: #008000;
    background-color: #04ff0033;
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease;
}

.nav-link.active {
    color: #008000 !important;
    border-radius: 0.3125rem;
}

/* Estilo del navbar */
.navbar {
    font-size: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px #76ac0076;
}

/* Estilo de los links */
.custom-paragraph {
    font-size: 0.95rem; /* Ajusta el tamaño del texto */
    color: #6c757d; /* Color gris (puedes cambiarlo según tu tema) */
}

.custom-link {
    color: #008000;
    font-weight: bold;
    text-decoration: none; /* Sin subrayado inicial */
    transition: color 0.3s ease; /* Transición suave al hacer hover */
}

.custom-link:hover {
    color: #75ac00;
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

/* Estilo para el footer */
footer .fab {
    font-size: 1.5rem;
    color: #ffffff;
    transition: color 0.3s ease;
}

footer .facebook:hover {
    color: #0000ff;
}

footer .instagram:hover {
    color: #ffa500;
}

/* Asegurar que SweetAlert2 tenga un z-index más alto que Bootstrap */
.swal2-container {
    z-index: 999999 !important; /* Un valor muy alto */
}