/* Estilos base */
html {
    font-size: 16px; /* Tamaño base para rem */
}

body {
    overflow-x: hidden;
}

.bg-main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding-bottom: 100px;
}

/* Elimina el espaciado lateral del contenedor principal */
.container-fluid {
    margin: 0;
}

/* Centra vertical y horizontalmente el formulario */
.login-container {
    width: 90%;
    max-width: 28rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 0.625rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Espaciado entre h1 y h5 */
.col-6.text-center h1 {
    margin-bottom: 0.5rem;
}

.col-6.text-center h5 {
    margin-top: 0;
}

/* Icono de la contraseña */
.mb-3 {
    position: relative;
}

.fa-eye,
.fa-eye-slash {
    position: absolute;
    top: 60%;
    right: 0.625rem;
    font-size: 1.2rem;
}

/* Estilo para el formulario */
#login-form {
    margin: auto;
    padding: 1.25rem;
    background-color: #f8f9fa;
    border-radius: 0.625rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo de los iconos de error */
.text-danger {
    font-size: 0.9rem;
}

/* Estilos responsivos para pantallas de 915px o menos */
@media (max-width: 915px) {
    .login-container {
        width: 100%; /* Ocupa todo el ancho disponible */
        max-width: none; /* Elimina el límite máximo */
    }

    .col-lg-6.text-center h1 {
        font-size: 1.75rem;
    }

    .col-lg-6.text-center h5 {
        font-size: 1rem;
    }

    #login-form {
        padding: 1rem;
    }

    .fa-eye,
    .fa-eye-slash {
        font-size: 1rem;
    }
}